<h1>Welcome to the Page</h1>
<a href="/mainpage">1) MainPage </a>
<a  href="/addingUser">2) Page to Heaven</a>
<a href="/addproducts">3) Adding Products to distribute</a>
<a href="/productdetails">4) Product Details</a>
<a href="/login">5) Login Page</a>
<a href="/signup">6) Signup Page</a>
<a href="/logout">7) Log Out</a>